//jade 와 pug 은 똑같다. 
//HTML처럼 태그가 없는 대신에 '들여쓰기'를 해야된다!!
//ID는 #을 통해 적는다
//클래스는 . 을 통해 적는다.
// ( ) 을 통해 나머지 속성을 적으면 됨.
// #goormElement1 #{content}이 아니라 !{content}
// <script>와 <style> 만 세로선(|)을 사용하지 않고도 여러 줄로 구성된 기술을 지원


extends layout

block content
  h1= title
  p Welcome to #{title}
