extends layout

block content
    body
        title = title
        .SDName
            #tag1 첫번쨰태그
                #sub #{title}
                #meg(style="color:blue;") #{message}
            
            //-
            #contents(style="border:1px solid black;")
                input(type:"checkbox",checked)
